.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    height: 80px;
}

footer {
    background: #fdc1ff;
    width: 100%;
    height: 120px;
    display: none;
}

header {
    background: #38c8fe;
    width: 23%;
}

nav {
    background: #ffaf47;
    width: 75%;
}

.articles > article {
    background: #ff7747;
    width: 100%;
    height: 300px;
}

.sections > section {
    background: #ffd647;
    width: 32%;
    height: 200px;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-space-between {
    justify-content: space-between;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}
.mt-1 {
    margin-top: 1rem;
}
.mb-1 {
    margin-bottom: 1rem;
}


@media screen and (max-width: 1200px) {

 }

@media screen and (max-width: 768px) {
    .header {
        height: 120px;
    }
    .articles > article {
        width: 100%;
    }
    .sections {
        flex-direction: row;
    }
    .sections > section {
        width: 32%;
        height: 400px;
    }
    footer {
        display: block;
    }
  }


@media screen and (max-width: 576px) {
    footer {
        display: none;
    } 
    .articles {
        height: 300px;
    }
    .sections {
        flex-direction: column;
        height: 500px;
    }
    .sections > section {
        width: 100%;
        height: 150px;
    }
 }